.input-container {
  background-color: #f8f9fa;
  min-height: fit-content;
  height: 30vh;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border: 2px solid #4f46e5;
}
.device-input {
  margin-bottom: 1.5rem;
}

.device-input label,
.date-input label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.device-input input {
  width: 95%;
  padding: 0.75rem;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.device-input input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.date-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.date-input {
  flex: 1;
}

.date-input input {
  width: 90%;
  padding: 0.75rem;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.date-input input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

/* Style the datetime-local input calendar icon */
.date-input input[type="datetime-local"] {
  background-color: white;
  cursor: pointer;
}
